@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    background-color: blanchedalmond;
}
.heading{
    color:hotpink;
    text-shadow: 3px 3px #006aff;
    font-size: 45px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-left: 20px;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;
    gap: 64px;
}
.options{
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 0;
    gap: 32px;
}
input[type="color"], button{
  width: 80px;
  height: 80px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid black;
}
img{
    width: 70px;
    height: 70px;
    background-color: transparent;
}
.Rainbow, .Eraser, .Clear{
    width: 80px;
    border-radius: 50%;
    border: 1px solid black;
}
.Eraser, .Clear{
    background-size: 60px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.Eraser{
    background-image: url(assets/eraser.png);
    background-color: #c1f4da;
}
.Clear{
    background-image: url(assets/undo.png);
    background-color: #ffa3a3;
}
.Rainbow{
    background-image: url(assets/rainbow-flag.png);
    background-size: cover;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 496px;
    width: 496px;
    margin: 0;
    border: 1px solid black;
    box-shadow: 15px 15px #000000b4;
    background-color: azure;
    padding: 0;
}
.small16{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 31px;
    height: 31px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.701);
}
.smallGrid{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.701);
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.size{
    font-size: 16px;
    font-weight: 700;
    color: #006aff;
    text-shadow: 1px 1px #ffa3a3;
}
input[type="range"]{
    writing-mode: sideways-lr;
    width: 40px;
    height: 400px;
    margin: 0;
}